&.blog h1 {
  padding: 70px 40px 40px 0;
  float: left;
  span.ss-tag, span.ss-calendar {
    font-size: 60%;
    top: -7px;
    color: $grey;
    padding-right: 20px;
  }
  @include breakpoint(sm) {
    float: none;
  }
}

&.blog-single h1 {
  font-size: 78px;
  padding: 70px 0 80px 0;
}

form.blog-search {
  font-size: 24px;
  color: $grey;
  display: inline-block;
  padding: 90px 0px 40px 0;
  input {
    font-size: 25px;
    text-transform: uppercase;
    @include ff-cabin;
    width: 300px;
    border: none;
    color: $red;
    border-bottom: 1px solid $light-grey;
    margin-left:10px;
    @include input-placeholder {
      color: $light-grey;
    }
    &:focus {
      outline: none !important;
      border-bottom: 1px solid $grey;
    }
  }
  @include breakpoint(sm) {
    display: none;
  }
}

&.blog-listing-search {
  form.blog-search {
    font-size: 40px;
    color: $red;
    display: inline-block;
    padding: 80px 0px 50px 0;
    input {
      font-size: 60px;
      text-transform: uppercase;
      @include ff-cabin;
      width: 90%;
      border: none;
      color: $red;
      border-bottom: 1px solid $light-grey;
      margin-left:10px;
      @include input-placeholder {
        color: $light-grey;
      }
      &:focus {
        outline: none !important;
        border-bottom: 1px solid $grey;
      }
    }
    @include breakpoint(sm) {
      display: none;
    }
  }
}
//----------------- Post-Single-Metabar

.post-details-placeholder {
  margin-top: 20px;
}

.post-details {
  width: 100%;
  background: $red;
  z-index: 100;
  @include box-shadow (0px 24px 50px rgba(255,255,255, 0.95));

  &.fixed {
    position: fixed;
    top:0;
  }
  .container > * {
    float: left;
  }
  a {
    color: $dark-red;
    font-size: 14px;
    text-transform: uppercase;
    @include ff-open-bold;
    padding: 16px 13px 13px 13px;
    &:before {
      padding: 0px 6px 0px 0px;
    }
    &.back { color: #fff; }
    &:hover {
      color: #fff;
      @include fade;
      background: $dark-red;
    }
  }
  form.search {
    float: right;
    input {
      background: url('images/blog-single-search.png') 0 6px no-repeat transparent;
      border: none;
      border-bottom: 1px solid $dark-red;
      width: 190px;
      padding: 5px 0 5px 20px;
      font-size: 14px;
      text-transform: uppercase;
      @include ff-open-bold;
      color: #fff;
      height: 14px;
      margin-top: 10px;
      @include input-placeholder {
        color: #fff;
      }
      &:focus {
        outline: none !important;
      }
    }
    @include breakpoint(med) {
      display: none;
    }
  }
}

.primary-content {
  margin-top: 40px;
}

//----------------- Blog Post Listing/Archive/Search

section.post-listing {
  margin-bottom: 30px;
  @include breakpoint(sm) {
    text-align: center;
    p {
      text-align: left;
    }
  }
  .meta {
    color: $grey;
    font-size: 14px;
    text-transform: uppercase;
    @include ff-open-bold;
    padding-right:8px;
    &:before {
      padding: 0px 6px 0px 0px;
    }
  }
  a.meta:hover {
    color: #000;
    @include fade;
  }
  h1 {
    padding: 7px 0;
    font-size: 40px;
    line-height:41px;
    display: block;
    float: none;
    a {
      color: #000;
      @include fade;
      &:hover {
        color: $red;
      }
    }
  }
  a.more {
    color: $red;
    font-size: 14px;
    text-transform: uppercase;
    @include ff-open-bold;
    padding-left:6px;
  }
}

//----------------- Sidebar

.secondary-content.sidebar {
  margin-top: 40px;
}