//----------------- Base

* { position: relative; }

.container {
  width: 980px;
  margin: 0 auto;
  @include clearfix;
}

a {
  text-decoration: none;
  color: $red;
}

h1 {
  color: $red;
  text-transform: uppercase;
  font-size: 78px;
  @include ff-cabin;
  line-height: 72px;
}

h2 {
  @include ff-open-bold;
  font-size: 22px;
  line-height: 28px;
  padding:10px 0 18px 0;
}

h3 {
  @include ff-open-bold;
  font-size: 18px;
  line-height: 26px;
  padding:10px 0 18px 0;
}

p {
  @include ff-open-reg;
  font-size: 15px;
  line-height: 26px;
  padding-bottom: 28px;
}

blockquote {
  @include ff-open-reg;
  font-size: 15px;
  line-height: 26px;
  padding: 0 0 28px 56px;
  background: url(images/blockquote.png) no-repeat 12px 6px;
}

//----------------- Layout

body {
  background: #fff;
  font-size: 15px;
  @include ff-open-reg;
  color: #000;
}

header {

  nav {
    padding: 12px 0;
    text-transform: uppercase;
    @include ff-open-bold;
    font-size: 14px;
    @include clearfix;

    a.brand {
      @include ff-cabin;
      display: block;
      float: left;
      font-size: 24px;
      color: #000;
      @include fade;
      margin: 0 14px 0 0;
      &:hover { color: $red; }
    }

    li {
      list-style: none;
      float: left;
      & a {
        display: block;
        padding: 4px 10px;
        color: $grey;
        @include fade;
        &:hover { color: #000; }
      }
      &.active a { color: $red; }
    }

    .btn-promo {
      float: right;
      color: #fff;
      background: $red;
      padding:10px;
      @include fade;
      padding:6px 12px;
    }

  }

}