//----------------- Variables

// $red: #cc0504;
$red: #D61C1C;
$dark-red: #6d181a;
$light-grey: #e5e5e5;
$grey: #7f7f7f;

//----------------- Mixins

@mixin ff-cabin {
  font-family:'Cabin', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@mixin ff-open-reg {
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin ff-open-bold {
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin fade {
  @include transition-duration(.5s);
}

// https://github.com/michaelsacca/Compass-Placeholder-Text-Mixin
@mixin input-placeholder {
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; } 
}


// http://css-tricks.com/conditional-media-query-mixins/
@mixin breakpoint($point) {
  @if $point == lrg {
    @media (max-width: 1200px) { @content; }
  }
  @if $point == med {
    @media (max-width: 940px) { @content; }
  }
  @else if $point == sm {
    @media (max-width: 740px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 600px)  { @content; }
  }
}